<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Auths">
    <select id="selectWithUSERNAME" parameterType="Map" resultType="Map">
        SELECT AUTH_NAMES.AUTH_NAME
        FROM AUTHS
        INNER JOIN AUTH_NAMES ON AUTHS.UNIQUE_ID_AUTH_NAMES = AUTH_NAMES.UNIQUE_ID
        WHERE AUTHS.EMAIL = #{USERNAME}
    </select>

    <insert id="insert" parameterType="Map">
        insert into AUTHS 
        (EMAIL, UNIQUE_ID_AUTH_NAMES)
        values
        <foreach item="auth" collection="authList" separator=",">
        (#{EMAIL}, #{auth})
        </foreach>
    </insert>
</mapper>
